* {
    text-decoration: none;
    list-style: none;
}

.container_nav {
    /* margin-bottom: 50px;      */
    position: relative;
    height: 80px;
    background-color: #171717;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(
    0.25turn,
    #141414,
    #de9300,
    #141414
  );
    border-image-slice: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    /* margin-left: 1vw; */
}
#links_menu > li {
    margin-top: 26px;
}
ul > li > a {
    
    /* margin-top: 0.2vh; */
    /* padding-bottom: 0.2vh; */
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.3rem;
    color: #de9300;
    padding: 1vh 1vw;
    border-radius: 2.5px;
}

ul > li > a:hover {
    color: white;
    background-color: #de9300;
}

#logo {
    position: absolute;
    top: 120%;
    left: 50%;
    z-index:99;
    transform: translate(-50%, -50%);
}

#logo img {
    max-width: 150px;
    
}

#div_nav {
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.icons {
   margin-top: auto;
   margin-right: 50px;
}


.icons a {
    margin: 13px;
    font-size: 1.8rem;
}

.menu_hamburger {
    display: none;
    position: absolute;
    top: 30px;
    left: 50px;
    width: 35px;
    z-index: 99;
}

@media screen and (max-width: 1000px) {
    .menu_hamburger {
        display: block;
    }
    #div_nav {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(10 5 5 / 43%);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        margin-left: -150%;
        transition: all 0.5s ease;
    }
    
    #div_nav.mobile-menu {
        margin-left: 0;
    }

    .icons {
        margin:0;
        display: flex;
        flex-direction: column;
    }


    #div-ul ul {
        display: flex;
        flex-direction: column;
    }
}


/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: transparent;
    color: white;
}

/* Linkedin */
.fa-linkedin {
    background: transparent;
    color: white;
}

/* Linkedin */
.fa-linkedin:hover {
    border: 1px none #de9300;
    border-right-style: solid;
    border-left-style: solid;
    color: #de9300;
}
/* Linkedin */
.fa-youtube {
    background: transparent;
    color: white;
}
/* Youtube */
.fa-youtube:hover{
    border: 1px none #de9300;
    border-right-style: solid;
    border-left-style: solid;
    color: #de9300;
}