.header{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: #de9300;
}

i{
    margin-bottom: 5%;
    color: #de9300;

}
.header > h1 {
    margin-right: 40%;
    display: flex;
    justify-content: center;
}

div.elem-group {
    margin: 20px 0;
}

div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
}

label {
    display: block;
    padding-bottom: 10px;
    font-size: 1.25em;
}

input, select, textarea {
    border-radius: 2px;
    border: 0;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 15px;
    background-color: #2d2d2d;
    border-radius: 4px;
    color: gray;

}
#adult, #checkin-date{
    margin-left: -5%;
}
#message{
    margin-left: 1%;
    max-width: 95%;
}
body > form > div.elem-group > label{
    display: flex;
    justify-content: space-around
}
div.elem-group.inlined input, select.textarea {
    display: inline-block;
}
body > div.container > form > div.elem-group > label{
    display: flex;
    justify-content: center;
}

button {
    height: 50px;
    width: 25%;
    margin-left: 1%;
    background-color: #111111;
    border: 1px #de9300;
    color: white;
    font-size: 1.25em;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #de9300;
    margin-bottom: 2%;
}

button:hover {
    color: white;
    background-color: #de9300;
}
input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.9;
    filter: invert(0.9);
}
.topform{
    margin-top: 10%;
}
body > div.container > form{
    margin-left: 2%;
    margin-right: -1%;
}
.topform, .midform{
    width: 95%;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid transparent;
    -o-border-image: -o-linear-gradient(left,
    #111111,
    #de9300,
    #111111);
    border-image: -webkit-gradient(linear,
    left top, right top,
    from(#111111),
    color-stop(#de9300),
    to(#111111));
    border-image: linear-gradient(0.25turn,
    #111111,
    #de9300,
    #111111);
    border-image-slice: 1;
    padding: 10px;
    text-align: center;
    /* margin-bottom: 7em; */

}
.midform{
    width: 95.5%;
    margin-left: -0.3%;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid transparent;
    -o-border-image: -o-linear-gradient(left,
    #111111,
    #de9300,
    #111111);
    border-image: -webkit-gradient(linear,
    left top, right top,
    from(rgb(0, 0, 0)),
    color-stop(#de9300),
    to(rgb(0, 0, 0)));
    border-image: linear-gradient(0.25turn,
    #111111,
    #de9300,
    #111111);
    border-image-slice: 1;
    padding: 10px;
    text-align: center;
    /* margin-bottom: 7em; */
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}
.styled-input label {
    color: #999;
    padding: 0.2rem 15px 1rem 15px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 370px;
    max-width: 100%;
}

input,
textarea {
    padding: 15px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 95%;
    min-height: 1em;
    resize: none;
}

.input-container {
    width: 400px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}
input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
}
#message{
    margin-left: 8px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }

    .logoFooter{
        margin-left: 17%;
        margin-top: 5%;
        transform: translateX(-50%);
    }
    button {
        width:95%;
        padding: 7px 35px;
        display: inline-block;
        color: white;
        font-size: 16px;
        cursor: pointer;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
        border: 1px none #de9300;
        border-right-style: solid;
        border-left-style: solid;
    }
    #message{
        width:95%;
        margin-left: 4px;
        max-width: 95%;
    }
    .topform, .midform {
        padding: 5px;

    }
    body > div.container > form > div.midform > div:nth-child(5) > select{
        max-width: 98%;
    }
    .formReservation{
        margin-top: 8%;
    }
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: transparent;
    color: white;
}

/* Instagram */
.fa-instagram{
    background: transparent;
    color: white;
}

/* Facebook */
.fa-facebook:hover {
    border: 1px solid;
    border-bottom-style: none;
    border-top-style: none;
    border-color: #de9300;
    color: #de9300;
}


/* Instagram */
.fa-instagram:hover{
    border: 1px none #de9300;
    border-right-style: solid;
    border-left-style: solid;
    color: #de9300;
}
