Options +FollowSymLinks
RewriteEngine on
RewriteBase /escapephp/
RewriteCond %{REQUEST_URI} !^/(.*)/
RewriteRule ^(.*)$ /%{REQUEST_URI}/$1 [L]
RewriteRule tarifs$ tarif.php
RewriteRule reserver$ reservation.php
RewriteRule accueil$ index.php
RewriteRule scenario-(.*)$ PageScenar.php?scenario=$1 [L]
